.page {
  height: calc(100vh - var(--nav-height));
  min-height: calc(100vh - var(--nav-height));
  width: 100%;
  background: #050b14;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #050b14;
}
